@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: #fedfe5;
  font-family: Lato, serif;
}

a {
  color: #fb7695;
  font-family: "Open Sans", serif;
  font-size: 24px;
  text-decoration: none;
}

header {
  text-align: center;
}

h1 {
  font-family: "Dancing Script", serif;
  font-size: 60px;
}
h2 {
  font-family: "Open Sans", serif;
  font-size: 20px;
  text-transform: uppercase;
}
h3 {
  font-family: "Dancing Script", serif;
  font-size: 45px;
  margin: 20px 0 0px;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img1 {
  margin: 10px 50px;
}

.p1 {
  margin-top: 75px;
  margin-right: 10px;
}

.colors-img {
  align-self: center;
}